$primary-color: #444;
$secondary-color: #eece1a;
$text-color: #ddd;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: $primary-color;
    color: $text-color;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 80vw;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    opacity: 0.9;
    border-bottom: 0.5px solid #777;
    background-color: #222;
    height: 4rem;

    ul {
        display: flex;

        a {
            display: block;
            padding: 0.45rem;
            margin: 0 0.25rem;
            transition: all 0.2s ease-in-out;
            font-weight: 700;

            &:hover {
                color: $secondary-color;
                transform: scale(1.1);
            }
        }
    }
}

.main-container {
    height: 100vh;
    background: #333 url("/assets/image-1.jpg") no-repeat;
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80%;
        padding: 0 3rem;

        h1,
        h2 {
            font-weight: 200;
            margin: 0.4rem;
        }

        h1 {
            font-size: 3.5rem;
        }

        h2 {
            font-size: 2rem;
        }

        /* Cursor */
        .text-type > .text {
            border-right: 0.2rem solid #777;
            margin-left: 0.5rem;
        }
    }
    .icons {
        margin-top: 2rem;

        a {
            padding: 0.4rem;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}
