* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #444;
  color: #ddd;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 80vw;
  margin: 5rem auto;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  opacity: 0.9;
  border-bottom: 0.5px solid #777;
  background-color: #222;
  height: 4rem;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar ul a {
  display: block;
  padding: 0.45rem;
  margin: 0 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
}

.navbar ul a:hover {
  color: #eece1a;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main-container {
  height: 100vh;
  background: #333 url("/assets/image.jpg") no-repeat;
}

.main-container .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80%;
  padding: 0 3rem;
}

.main-container .main-content h1,
.main-container .main-content h2 {
  font-weight: 200;
  margin: 0.4rem;
}

.main-container .main-content h1 {
  font-size: 3.5rem;
}

.main-container .main-content h2 {
  font-size: 2rem;
}

.main-container .main-content .text-type > .text {
  border-right: 0.2rem solid #777;
  margin-left: 0.5rem;
}

.main-container .icons {
  margin-top: 2rem;
}

.main-container .icons a {
  padding: 0.4rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-container .icons a:hover {
  color: #eece1a;
}

.projects-list .projects-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.projects-list .projects-container .project img {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #777;
}

.projects-list .projects-container .project .title {
  font-size: 2.5rem;
}

.projects-list .projects-container .project .description {
  margin-bottom: 2rem;
  width: 70%;
}

.projects-list .projects-container .project a {
  text-transform: uppercase;
  padding: 0.2rem 0;
  position: relative;
}

.projects-list .projects-container .project a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ddd;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.projects-list .projects-container .project a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.projects-list .projects-container .project a i {
  padding-left: 0.5rem;
}

.projects-list .button {
  display: block;
  text-align: center;
  margin-top: 5rem;
}

.skills-container h1 {
  font-size: 3rem;
  text-align: center;
}

.skills-container .intro {
  margin: 2rem 0;
}

.skills-container .heading {
  font-size: 2rem;
  margin: 2rem 0 1rem 0;
}

.skills-container .skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  grid-gap: 2rem;
}

.skills-container .skills li {
  text-align: center;
}

.about .title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.about h1,
.about h2 {
  padding-top: 4rem;
}

.about .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.about .links a {
  margin: 0 2rem;
}

.single-project .title {
  padding-top: 3rem;
  font-size: 3rem;
}

.single-project .table {
  margin: 2rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.single-project .table div h2 {
  margin-bottom: 0.5rem;
}

.single-project img {
  width: 100%;
  border-radius: 10px;
}

.single-project .goal {
  width: 60%;
  margin-top: 2rem;
}

.single-project .layout {
  margin: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.single-project .layout .left {
  width: 100%;
}

.single-project .layout .right {
  text-align: left;
  width: 100%;
}

.single-project .layout .right .web-stack {
  margin-bottom: 2rem;
}

.single-project .layout .right p {
  margin-bottom: 4rem;
}

.underlined-link {
  position: relative;
}

.underlined-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ddd;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.underlined-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.underlined-link i {
  padding-left: 0.5rem;
}

.btn {
  display: inline-block;
  background: #ddd;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-radius: 20px;
}

.btn:hover {
  background-color: #f2d849;
}
/*# sourceMappingURL=App.css.map */